body{
    display: grid;
    grid-template-areas:
    "p4 . p3 p2 p2 p1"
    "p4 p5 p5 p2 p2 p1" 
    "p4 p5 p5 p6 . p1" 
    "p7 p7 p7 p8 p8 p8";
    grid-auto-rows: 103px;
    grid-auto-columns: 207px;
    width:1024;
    height: 768;
    row-gap:1px;
    border: 1px dashed red;
}

body>div
{
     border: 1px dashed red;
     background-color: white;
}

.part1{
    grid-area: p1;
}

.part2{
    grid-area:p2;
}

.part3{
    grid-area:p3;
}


.part4{
    grid-area:p4;
}

.part5
{
    grid-area:p5;
}

.part6
{
    grid-area:p6;
}

.part7
{
    grid-area:p7;
}

.part8
{
    grid-area:p8;
}


