.login-form {
	
	border-style: dotted ;
	border-color: lightblue;
	border-radius: 15px;
	height: 75px;
	width: 335px;

	  display: inline-block;
	  line-height: 25px;

}

.form-container {
	text-align:center;
	line-height: 100vh;
}