body 
{
    border:1px dashed lightblue;
    height: 40vh;
    width: 120vh;
}

.container 
{
    display: grid;
    height: 40vh;
    width: 120vh;
    grid-template-columns: 60vh 60vh;
    grid-template-rows: 20vh 20vh;
    grid-template-areas: "part1 inner-container1" 
    					"part1 inner-container1";
}

.part1
{
	grid-area: part1;
    border:1px dashed lightblue;
}

.part2{
	grid-area:part2;
    border:1px dashed lightblue;
}
.part3{
	grid-area:part3;
    border:1px dashed lightblue;
}



.part4{
    border:1px dashed lightblue;
    flex:1;
    height: 10vh;

}
.part5{
    border:1px dashed lightblue;
     flex:1;
     height: 10vh;
}

.part6{
    border:1px dashed lightblue;
    height: 10vh;
    flex:1;

}
.part7{
    border:1px dashed lightblue;
    height: 10vh;
     flex:1;

}

.part1+.inner-container {
    grid-area: inner-container1;
    display: grid;
    grid-template-columns: 30vh 30vh;
    grid-template-rows: 10vh 10vh;
    grid-template-areas: "part2 part3" "part2 part3";
}

.inner-container+.inner-container{
	display: flex;
	flex-flow:row wrap;
	align-items:center;
    justify-content:center;
	border:1px dashed lightblue;
	width: 120vh;
	height: 10vh;

}